.subscribe-button {
  background-color: rgb(199, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;


  transition: opacity 0.15s;
}

.subscribe-button:hover {
  opacity: 0.8;

}

.subscribe-button:active {
  opacity: 0.5;

}


.join-button {
  background-color: white;
  border-color: rgb(41, 118, 211);
  border-width: 1px;
  border-style: solid;
  color: rgb(41, 118, 211);
  height: 36px;
  width: 62px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  
  transition: background-color 0.15s, color 0.15s;
  

}

.join-button:hover {
  color: white;
  background-color:rgb(41, 118, 211);
}

.join-button:active {
  opacity: 0.7
}

.tweet-button {
  background-color: rgb(2, 158, 255);
  border: none;
  height: 36px;
  width: 67px;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;

  transition: box-shadow 0.15s;


}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}